<!DOCTYPE html>
<html>

<head>

	<title>Create a new chat room! | Tutorialzine Demo</title>

	<link href="/css/all.css" media="all" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
	<!--<![endif]-->


</head>

<body>

	<header class="homebanner">
			<h1>Plannong poker</h1>
	</header>

	<section>
			<a title="Create" href="/create" id="create">Создать комнату</a>
	</section>

</body>
</html>
